* text=auto !eol
/.classpath -text svneol=unset#text/plain
/.project -text svneol=unset#text/plain
.settings/org.eclipse.jdt.core.prefs -text svneol=unset#text/plain
.settings/org.eclipse.m2e.core.prefs -text svneol=unset#text/plain
/pom.xml -text
src/main/java/com/quantasnet/managed/DynamicManagementMBean.java -text
src/main/java/com/quantasnet/managed/InvalidManagementAnnotationException.java -text
src/main/java/com/quantasnet/managed/Managed.java -text
src/main/java/com/quantasnet/managed/ManagementProcessor.java -text
